<div class="hero-unit">
	<h1>Creative Collaboration</h1>

	<p>
		Connect and collaborate with other passionate creatives around the world!
	</p>
	<p>
		<%= link_to "Sign up Now!", "#", class: "btn btn-success btn-large" %>
	</p>
</div>